@charset "utf-8";
body{
    text-align: justify;
    background-image: linear-gradient(to bottom, #b301efcb,#fc00dad8,#fe0188e3,#ff0f33da,#fe7f00e3,#ffc400de 85%);
    padding-right: 5px;
}

body p{
    text-indent: 20px;
    background-color: white;
    padding: 3px;
    border-radius: 5px;
    display: block;
    min-width: 340px;
    max-width: 1200px;
    padding-right: 5px;
    
    
}

img{
    border-radius: 10px;
    box-shadow: 3px 3px 15px black;
}

h1{
    text-align: center;
}

h2{
    padding-left: 50px;
}

main{
    background-color: rgb(61, 141, 187);
    width: auto;
    height: auto;
    min-width: 360px;
    max-width: 380px;
    border-radius: 20px;
    margin: auto;
    box-shadow: 0px 0px 10px black;
    padding-bottom: 10px;
    
    
}

main img{
    margin: auto;
    display: block;
    
}
